<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<h2> BIENVENUE !</h2>

<mat-progress-bar mode="indeterminate"></mat-progress-bar>

<!-- // content -->

<mat-tab-group dynamicHeight style="margin-top: 100px;">
    <mat-tab label="Bienvenue !">
      <div class="example-small-box mat-elevation-z4">
        Bienvenue sur ma première application ANGULAR !!! 

        Vous trouverez ici ma première prise en main de 
        l'application et mes réalisations effectuées en moins d'un jour.
      </div>
    </mat-tab>
    <mat-tab label="Mon CV ?">
      <div class="example-large-box mat-elevation-z4">
        
      </div>
    </mat-tab>
  </mat-tab-group>
  